body {
  background: rgb(200, 200, 200);
}

#myItemList {
  background: rgb(255, 255, 255);
  border: solid 1px;
  width: 300px;
  height: 300px;
  overflow: auto;
}

#myItemListControl {
  width: 300px;
}

input {
  width: 100%;
}

.marked {
  background: rgb(0, 100, 255);
}
